@model IEnumerable<WebApplication2.Models.Book>

@{
    ViewBag.Title = "showAll";
}

<h2>All books are listed as follows:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Delete", "Delete")
    @Html.ActionLink("Show All", "showAll", "Books")
</p>

<br />
<form action="/Books/showResults" method="post">
    <input type="text" name="UserInput" />
    <input type="submit" value="Show Books" />
    <select name="UserSelect">
        <option value="ID">ID</option>
        <option value="Name">Name</option>
        <option value="Author">Author</option>
        <option value="Year">Year</option>
    </select>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

